<div class="row">
    <div class="col-lg-1 col-md-2 right hidden-sm hidden-xs">
        <img src="{{ url_for('static', filename='img/gerb.png') }}">
    </div>
    <div class="col-lg-2 left hidden-md hidden-sm hidden-xs">
        <p class="intop">ВОЙСКА<br>НАЦИОНАЛЬНОЙ ГВАРДИИ<br>РОССИЙСКОЙ ФЕДЕРАЦИИ</p>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 center">
        <h1 class="title-yarus">ТЕСТОВАЯ СТРАНИЦА</h1>
        <p class="downlogo">СТРАНИЦА ДЛЯ РАБОТЫ</p>
    </div>
    <div class="col-lg-2 right hidden-md hidden-sm hidden-xs">
    <p class="intop-right">ДОГОВОРНО-ПРАВОВОЙ <br>ДЕПОРТАМЕНТ</p>
    </div>
    <div class="col-lg-1 col-md-2 left hidden-sm hidden-xs">
        <img src="{{ url_for('static', filename='img/itlogo.png') }}">
    </div>
</div>