<!--шаблон для логина:-->
{% extends 'base.html' %}
{% from "macro/formhelpers.html" import render_field %}

{% block title %}
    АВТОРИЗАЦИЯ
{% endblock %}
{% include "header.html" %}

{% block body %}
    <h1>АВТОРИЗАЦИЯ</h1>
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <form method="POST">
        {# csrf защита #}
        {{ form.csrf_token() }}

        {# показать входы #}
        {% for field in ['username', 'password'] %}
            {{ render_field(form[field]) }}
        {% endfor %}

        {# представлять на рассмотрение #}
        <div>
            {{ form.submit(class="btn btn-primary btn-lg") }}
        </div>
    </form>
{% include "footer.html" %}
{% endblock %}