<!--шаблон регистрации-->
{% extends 'base.html' %}
{% from "macro/formhelpers.html" import render_field %}

{% block title %}
  Register
{% endblock %}

{% block body %}
<div class="container redtop">
  {% include "header.html" %}
</div>

<div class ="container topmenu">
    <div class="row">
        <div class="col-md-6 left">
          {% include navigation_bar.html %}
        </div>
    </div>
</div>


<div class="container info">
    <div class="row">
        <div class = "col-md-12 center">
  <h1>Register</h1>
  {% if error %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
  {% endif %}
  <form method="POST">
    {# csrf protection #}
    {{ form.csrf_token() }}

    {# show inputs #}
    {% for field in ['first_name', 'last_name', 'username', 'email', 'password', 'confirm'] %}
      {{ render_field(form[field]) }} <!--добавляем поля формы-->
    {% endfor %}

    {# submit #}

      {{ form.submit(class="btn btn-primary btn-lg") }}
  </form>
        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}


